<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Simple BMI Calculator</title>
    <meta
      name="description"
      content="BMI Calculator made for learning purpose."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bulma CSS requirements -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.css"
      integrity="sha256-uByAjQgKh5//Z/gDvbL7MWsDcbwX7d/KizVil6On1dQ="
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <!-- --- -->
    <link rel="icon" href="icon/favicon.ico" />
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">RESULT</h1>
        <p class="subtitle"><%= resultEjs %></p>
        <p><%= typeBodyEjs %></p>
        <p class="bmi-result"></p>
        <a href="/">Try again?</a>
      </div>
    </section>
  </body>
</html>
